*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:hsl(0, 0%, 100%);
    --whitepale:hsl(202, 86%, 94%);
    --black:hsl(202, 55%, 16%);
    --grey:hsl(203, 41%, 72%);
    --darkgrey:hsl(200, 26%, 54%);
    --darkestgrey:hsl(200, 24%, 40%);
    --blackextra:hsl(202, 55%, 16%);
    --yellow:hsl(61, 70%, 52%);
    --red:hsl(4, 69%, 50%);
}
body{
    background-color: var(--whitepale);
    color:black;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    min-height: 100vh;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 55%;
    min-width: 500px;
    height: 100%;
    min-height: 500px;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 3px 2px 10px hsl(202, 86%, 94%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
}
.section2{
    background-color: var(--black);
    width: 100%;
    border-radius: 0px 10px 7px 15%;
    padding: 2em 1em;
}
.section1{
    width: 100%;
    border-radius: 10px;
    padding: 2em;
}
.container-fluid{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-input{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@font-face {
    font-family: fontBoldat;
    src: url('assets/PlusJakartaSans-Bold.ttf');
}
@font-face {
    font-family: firstFont;
    src: url('assets/PlusJakartaSans-Medium.ttf');
}
@font-face {
    font-family: thirdFont;
    src: url('assets/PlusJakartaSans-VariableFont_wght.ttf');
}
.input-group{
    margin-left:10px;
    width: 100%;
    display:flex;
    flex-direction: row;
    min-height: 40px;
    border:1px solid var(--darkgrey);
    border-radius:5px;
    overflow: hidden;
}
.container-span{
    min-height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    background-color: var(--whitepale);
    border-right: 1px solid var(--whitepale);
}
.input-span{
    font-size: 1.1em;
    color:var(--darkestgrey);
    font-family: 'fontBoldat', sans-serif;
    padding-left: 5px;
}
.input-group input{
    border: none;
    width: 100%;
    min-height: 40px;
    padding-left: 10px;
    font-size: 1em;
    color: var(--black);
    font-family: 'fontBoldat', sans-serif;
}
input:focus{
    outline: none;
}
.h3-text{
    color: var(--black);
    font-size: 1.2em;
    padding: 10px;
    font-family: 'fontBoldat', sans-serif;
}
.p-text{
    font-size: 0.9em;
    color:var(--darkestgrey);
    font-family: 'firstFont', sans-serif;
    border-bottom: 1px solid var(--darkestgrey);
    transition: opacity 0.3s ease-in-out;
}

input[type="radio"]{
    position: relative;
    height: 0;
    width: 0;
    opacity: 0;
}
.custom-radio{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--darkgrey);
    position: relative;
    top:50%;
    left:5%;
    padding: 10px;
    border-radius: 50%;
    transform: translate(-100%, -10%);
    margin-right: 5px;
}
input[type="radio"]:checked + .custom-radio::after{
    content:'';
    display: inline-block;
    width: 15px;
    position: absolute;
    height: 15px;
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
    border-radius: 50%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type="radio"]:focus + .custom-radio
{
    border:2px solid var(--yellow);
    outline: none;
}
.p-text:hover{
    cursor: pointer;
    opacity: 0.8;
}
.box:has(input[type="radio"]:checked)
{
    border: 2px solid var(--yellow);
    outline: none;
}
.input-group:hover{
    border: 1px solid var(--blackextra);
    cursor: pointer;
}
.form-control:hover ,#years:hover, #rate:hover{
    cursor: pointer;
}
.input-group:focus-within{
    border: 3px solid var(--yellow);
    outline:none;
}
.input-group:focus-within .container-span{
    background-color: var(--yellow);
    outline: none;
    overflow: hidden;
}
.error{
    background-color:var(--red) !important;
}
.errorText{
    color:var(--white) !important;
}
.container-section{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}
.container-section img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    padding: 1em;
    object-position: center;
}
.text-primary{
    color: var(--white);
    font-family: 'firstFont', sans-serif;
    font-size:1.2em;
    padding: 10px;
    margin-bottom: 10px;
}
.text-secondary{
    color: var(--darkgrey);
    font-size: 0.9em;
    line-height: 1.4;
    padding: 5px;
}
label{
    font-size: 0.8em;
    font-family: 'firstFont', sans-serif;
    color: var(--darkestgrey);
    padding: 1em;
}
.container{
    width: 100%;
    margin:10px auto;
    display: flex;
    flex-direction: column;
    
}
.label-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}
.input-container .container-span{
    width: 60%;
}
.input-container .input-span{
    font-size:1em;
    padding: 0;
}
#procent-container{
    width: 40%;
}
.container-mortgage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.box{
    width: 100%;
    display: flex;
    padding-left: 15px;
    align-items: center;
    margin-left: 10px;
    border: 1px solid var(--darkgrey);
    border-radius: 5px;
}
.box:hover{
    border:1px solid var(--yellow);
    outline: none;
    cursor: pointer;
}
input[type="radio"]:hover{
    cursor: pointer;
}


button{
    margin: 20px 0px 15px 15px;
    border: none;
    cursor: pointer;
    background-color: var(--yellow);
    padding: 15px;
    width: 80%;
    border-radius: 30px;
    display: inline-block;
    font-size: 1em;
    font-family: 'fontBoldat', sans-serif;
    color: var(--blackextra);
    position: relative;
    transition: opacity 0.7s ease-in-out;
}
button:hover{
    opacity: 0.7;
}
button::after{
    content:url('assets/icon-calculator.svg');
    position: absolute;
    top:5%;
    padding: 10px;
    object-fit: cover;
    left:5%;
    width: 10px;
    height: 10px;
}
.paragrafError{
    font-family: 'firstFont', sans-serif;
    font-size: 0.8em;
    margin-top: 5px;
    color:var(--red);
    margin-left: 10px;
}

.paragraf-container
{
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
}
.heading-text{
    padding:1em;
    color:var(--white);
    font-family: 'fontBoldat', sans-serif;
    margin-bottom: 10px;
}
.paragraph-text{
    padding:0.5em;
    margin-left: 10px;
    margin-right: 0;
    color:var(--grey);
    font-size: 0.8em;
    font-family: 'firstFont', sans-serif;
}
.container-result{
    padding: 2em;
    margin: 30px auto;
    width: 90%;
    min-width: 300px;
    background-color: hsl(196, 95%, 8%);
    min-height: 250px;
    border-top:3px solid var(--yellow);
    border-radius: 10px;
}
.container-result h3{
    font-size:0.8em;
    font-family: 'firstFont', sans-serif;
    color:var(--whitepale);
}
hr{
    border-bottom: 1px solid rgb(69, 61, 61);
}
.total-result, .repayments-result{
    padding:1em;
    width: 100%;
}
.result{
    font-family: 'fontBoldat', sans-serif;
    color: var(--yellow);
    margin-top: 10px;
    font-size:3em;
}
.total-result{
    margin-top:10px;
}
.repayments-result{
    min-height: 125px;
}
.repay{
    color: var(--white);
    font-size: 1.1em;
    margin-top: 10px;
    font-family: 'fontBoldat', sans-serif;
}
.hidden{
    display: none !important;
}
@media(max-width:1300px)
{
    button{
        width: 90%;
    }
    button::after{
        left:1%;
    }
}
@media(max-width:1025px)
{
    body{
    min-height: 100vh;
    }
    .main{
        width: 75vw;
        min-height: 350px;
    }
    .label-container{
        justify-content: flex-start;
        width: 100%;
        gap:40px;
    }
    button{
        width: 100%;
    }
    button::after{
        left: 1%;
    }
    .p-text{
        font-size: 0.8em;
    }
}
    @media (max-width:750px) {
  .main{
    grid-template-columns: 1fr;
    grid-template-rows:repeat(auto-fit,minmax(200px, 1fr));
  } 
  .section2{
    border-radius: 5px;
  } 
  .container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .container-fluid>p{
    margin-left: 10px;
  }
  .label-container{
    width: 100%;
    gap: 6.5em;
  }
}
@media(max-width:500px)
{
    .main{
        max-width: 100vh;
        width: 100%;
        min-width: 0;
        min-height: 0;
    }
    .input-group, .box{
        margin-left: 0;
    }
    .section1 .input-group{
        width: 100%;
    }
    label{
        padding: 0.5em;
    }
    .label-container{
        gap:3em;
    }
    button{
        margin-left: 0;
        width: 100%;
    }
    .h3-text{
        padding: 3px;
        margin-bottom: 5px;
    }
    .p-text{
        margin-left: 5px !important;
    }
    button::after{
        left:7%;
    }
    .container-input>label{
        margin-left: 0;
        padding: 0.5em;
    }
      .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .paragraf-container{
    margin-top: 0;
  }
  .heading-text{
    margin-left: 2px;
  }
  .paragraph-text{
    margin-left: 15px;
    text-wrap: balance;

  }

}
   
